<div id="iModal">
  <i class="fa fa-info"></i>
  <i class="fa fa-times" {{action 'cancel'}}></i>
  <h2>
    {{model.entity.name}}#
    {{#if isEditingName}}
      {{focus-input type='text' value=model.name}}
    {{else}}
      <span>{{model.name}}</span>
      <i class="fa fa-pencil" {{action 'editName'}}></i>
    {{/if}}
  </h2>
  <div class="options">
    <ul id="listOne">
      <li>
        {{radio-button value='text' checked=model.type
          id='type-text' name='type'}}
        <label for="type-text">
          <i class="fa fa-font"></i> Text
        </label>
      </li>
      <li>
        {{radio-button value='number' checked=model.type
          id='type-number' name='type'}}
        <label for="type-number">
          <i class="fa fa-calculator"></i> Number
        </label>
      </li>
      <li>
        {{radio-button value='datetime' checked=model.type
          id='type-datetime' name='type'}}
        <label for="type-datetime">
          <i class="fa fa-calendar"></i> Date Time
        </label>
      </li>
      <li>
        {{radio-button value='file' checked=model.type
          id='type-file' name='type'}}
        <label for="type-file">
          <i class="fa fa-file"></i> File
        </label>
      </li>
    </ul>
    <ul id="listTwo">
      <li>
        <label>
          {{list-checkbox value='presence'
            checked=model.validates
            name='validates'}}
          Presence
        </label>
      </li>
      <li>
        <label>
          {{list-checkbox value='uniqueness'
            checked=model.validates
            name='validates'}}
          Uniqueness
        </label>
      </li>
      <li>
        <label>
          {{list-checkbox value='size'
            checked=model.validates
            name='validates'}}
          Size
        </label>
      </li>
      <li>
        <label>
          {{list-checkbox value='format'
            checked=model.validates
            name='validates'}}
          Format
        </label>
      </li>
    </ul>
    <div class="actions">
      {{#if isInternal}}
        <a class="btn cancel" href="#" {{action 'cancel'}}>Close</a>
      {{else}}
        <a class="btn delete" href="#" {{action 'deleteField'}}>Delete</a>
        <a class="btn save" href="#" {{action 'saveField'}}>Save</a>
        <a class="btn cancel" href="#" {{action 'cancel'}}>Cancel</a>
      {{/if}}
    </div>
  </div>
</div>
