<h2>{{model.name}}</h2>

<!--index-->
<h3>GET /{{model.name}}</h3>
<h4>Output example:</h4>
<code>{{json-sample model.fields}}</code>

<!--create-->
<h3>POST /{{model.name}}</h3>
<p>Creates a new {{model.name}} with the given information.</p>

<h4>Input example:</h4>
<code>{{json-sample publicFields}}</code>

<h4>Output example:</h4>
<code>{{json-sample model.fields}}</code>

<!--show-->
<h3>GET /{{model.name}}/:id</h3>
<p>Shows the information for a single {{model.name}}.</p>
<h4>Output example:</h4>
<code>{{json-sample model.fields}}</code>

<!--update-->
<h3>PUT /{{model.name}}/:id</h3>
<p>Updates the specified {{model.name}} with the given information.</p>

<h4>Input example:</h4>
<code>{{json-sample publicFields}}</code>

<h4>Output example:</h4>
<code>{{json-sample model.fields}}</code>

<!--delete-->
<h3>DELETE /{{model.name}}/:id</h3>
<p>Removes the specified {{model.name}}.</p>

<h4>Output example:</h4>
<code>{{json-sample model.fields}}</code>
