<div id="iModal">
  <i class="fa fa-info"></i>
  <i class="fa fa-times" {{action 'cancel'}}></i>
  <h2>
    {{model.entity.name}}#<span>{{model.name}}</span>
  </h2>
  <div class="options">
    <ul id="listOne">
      <li>
        {{#unless model.internal}}
          <input id="type-text" {{bind-attr disabled='internal'}} name="type" type="radio" value="text"/>
        {{/unless}}
        <label for="type-text">
          <i class="fa fa-font"></i> Text
        </label>
      </li>
      <li>
        {{#unless model.internal}}
          <input id="type-number" name="type" type="radio" value="text"/>
        {{/unless}}
        <label for="type-number">
          <i class="fa fa-calculator"></i> Number
        </label>
      </li>
      <li>
        {{#unless model.internal}}
          <input id="type-datetime" name="type" type="radio" value="datetime"/>
        {{/unless}}
        <label for="type-datetime">
          <i class="fa fa-calendar"></i> Date Time
        </label>
      </li>
      <li>
        {{#unless model.internal}}
          <input id="type-file" name="type" type="radio" value="file"/>
        {{/unless}}
        <label>
          <i class="fa fa-file"></i> File
        </label>
      </li>
    </ul>
    <ul id="listTwo">
      <li>
        <label>
          {{input type='checkbox' checked=hasPresence disabled=internal}}
          Presence
        </label>
      </li>
      <li>
        <label>
          {{input type='checkbox' checked=hasUniqueness disabled=internal}}
          Uniqueness
        </label>
      </li>
      <li>
        <label>
          {{input type='checkbox' checked=hasSize disabled=internal}}
          Size
        </label>
      </li>
      <li>
        <label>
          {{input type='checkbox' checked=hasFormat disabled=internal}}
          Format
        </label>
      </li>
    </ul>
    <div class="actions">
      {{#unless isInternal}}
        <a class="btn delete" href="#" {{action 'deleteField'}}>Delete</a>
        <a class="btn save" href="#" {{action 'saveField'}}>Save</a>
      {{/unless}}
      <a class="btn cancel" href="#" {{action 'cancel'}}>Cancel</a>
    </div>
  </div>
</div>
