<section id="appArea">
  <div class="faq">
    <h2 style="margin-top:0;">
      {{model.name}} documentation
    </h2>

    <p>Here you'll find all the documentation and instructions
    necessary for you start using this API.</p>

    <p>We recommend using one of our adapters to simplify the
    process of signning each request. You can find all
    available adapters below:</p>
  </div>

  <div id="faq-btn-area">
    {{link-to 'Manually' 'app.docs.index' class='btn'}}
    {{link-to 'Android' 'app.docs.android' class='btn'}}
    {{link-to 'iOS' 'app.docs.ios' class='btn'}}
    {{link-to 'JS' 'app.docs.js' class='btn'}}
    {{link-to 'Ruby' 'app.docs.ruby' class='btn'}}
  </div>

  <div class="faq">
    {{outlet}}
  </div>
</section>
