<div id="subbar">
  <div id="appTitle">
    {{model.name}}
  </div>
  <ul id="appTabs">
    <li>{{link-to 'Info' 'api.index' model}}</li>
    <li>{{link-to 'Collections' 'collections' model}}</li>
    <!--<li>{{link-to 'Data Browser' 'api.data' model}}</li>-->
    <li>{{link-to 'Docs' 'api.docs' model}}</li>
  </ul>
  {{#link-to 'api.settings' model id='builderSettings'}}
    <i class="fa fa-cog"></i>
  {{/link-to}}
</div>

{{outlet}}
{{outlet 'modal'}}
