<div id="subbar">
  <div id="appTitle">
    {{model.name}}
  </div>
  <ul id="appTabs">
    <li>{{link-to 'Info' 'app.info' model}}</li>
    <li>{{link-to 'Entities' 'entities' model}}</li>
    <!--<li>{{link-to 'Data Browser' 'app.data' model}}</li>-->
    <li>{{link-to 'Docs' 'app.docs' model}}</li>
    <li></li>
  </ul>
  {{#link-to 'app.settings' model id='builderSettings'}}
    <i class="fa fa-cog"></i>
  {{/link-to}}
</div>

{{outlet}}
{{outlet 'modal'}}
